
{% extends 'base.html' %}

{% block head %}
<link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
<style type="text/css" media="screen">
        body::before {
            content: "";
            position: fixed;
            top: -10px;
            left: 0;
            width: 100%;
            height: 10px;
            box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
            z-index: 100;
        }
        .loader {
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        body {
            background-color: rgba(149, 149, 149, 1.00);
        }
        .collapsible {
            box-shadow: 0 0 10px 5px;
            border-radius: 2rem;
            background-color: rgba(230, 230, 230, 1.00);
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }
        .active, .collapsible:hover {
            background-color: rgba(190, 190, 190, 1.00);
        }     

        .content {
            border-radius: 1.5rem;
            padding: 0 18px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            background-color: rgba(255, 255, 255, 1.00);
        }
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>

{% endblock %}

{% block body %}
<script>
    //API KEYS
    window.onload = function(e){ 
        console.log("here")
        let modal = document.getElementById("myModal");
        let span = document.getElementsByClassName("close")[0];
        if (e.target == modal) {
            modal.style.display = "none";
        }
        showMatches() 
    }
    let apiKey = "?api_key=RGAPI-1242c3c9-9587-476b-b81e-caa5271ef701"
    let apiKeyEsports = "?api_key=0TvQnueqKa5mxJntVWt0w4LpLfEkrV1Ta8rQBb9Z"

    //API URLS
    let matchURL = "https://na1.api.riotgames.com/lol/match/v4/matches/"
    let esportsURL = "https://esports-api.lolesports.com/persisted/gw/getCompletedEvents?hl=en-US"
    let esportsMemberURL = "https://feed.lolesports.com/livestats/v1/window/"
    
    //All Data Collected
    var collectedGameData = []
    let matchLocation = []
    

    async function getMatchID(){
        console.log({{matchCount}})
        var matchID = String(document.getElementById("matchID").value).split("/")[6]
        var url = matchURL + matchID + apiKey
        var urlEsports = esportsURL
        var esportMembers = esportsMemberURL
        //fetchAsyncRiot(url) 
        swap()
        var collectedData = await fetchAsyncEsports(urlEsports)        
        console.log(collectedData)
        document.getElementById("loadingString").innerText = "Updating Database"
        updateDataBase(collectedData)
        document.getElementById("loadingString").innerText = "Finished"
    }

    async function updateDataBase(collectedData){
        let playerCollection = []

        if(collectedData[1].length > {{matchCount}}){
            matchCount = {{matchCount}}

            if(matchCount == 0){
                matchCount += 1
            }
            for(var i = 0; i < collectedData[1].length; i++){
            for(var x = 0; x < collectedData[1][i].length-1; x++){
                let teamA = true
                let oddIndex = 1
                for(var y = 0; y < collectedData[1][i][x].length; y++){
                    if(x == 1){
                            teamA = false
                            
                    }else{
                            teamA = true
                    }
                    if(teamA){
                        player = {"gameID": collectedData[0][0][i][2], "playerName": collectedData[1][i][x][5][y*2], "teamName": collectedData[0][0][i][0].replace(" ", "."), "matchWin": collectedData[0][0][i][1], "legend": collectedData[1][i][x][5][oddIndex], "kills": collectedData[1][i][x][y][0], "assists": collectedData[1][i][x][y][2], "deaths": collectedData[1][i][x][y][1], "creepScore": collectedData[1][i][x][y][3], "teamTotal": collectedData[1][i][2][0], "matchType": collectedData[2][i], "matchTime": collectedData[3][i], "teamA": collectedData[0][0][i][0].replace(" ", "."), "teamB": collectedData[0][1][i][0].replace(" ", "."), "teamAWin": collectedData[0][0][i][1], "teamBWin": collectedData[0][1][i][1], "playerTeam": 0}
                        oddIndex += 2
                    }else{
                        player = {"gameID": collectedData[0][1][i][2], "playerName": collectedData[1][i][x][5][y*2], "teamName": collectedData[0][1][i][0].replace(" ", "."), "matchWin": collectedData[0][1][i][1], "legend": collectedData[1][i][x][5][oddIndex], "kills": collectedData[1][i][x][y][0], "assists": collectedData[1][i][x][y][2], "deaths": collectedData[1][i][x][y][1], "creepScore": collectedData[1][i][x][y][3], "teamTotal": collectedData[1][i][2][1], "matchType": collectedData[2][i], "matchTime": collectedData[3][i], "teamA": collectedData[0][0][i][0].replace(" ", "."), "teamB": collectedData[0][1][i][0].replace(" ", "."), "teamAWin": collectedData[0][0][i][1], "teamBWin": collectedData[0][1][i][1], "playerTeam": 1}
                        oddIndex += 2
                        
                    }
                    if(collectedData[1][i][x][5][y*2] != undefined && collectedData[1][i][x][5][y*2] != ""){
                        
                        const postResponse = await fetch('http://localhost:5000/updateDatabase', {
                            method: 'POST',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(player)
                        })
                    }
                }
            }
        }
        }
        return true
    }
    async function fetchAsyncRiot (url) {
        let response = await fetch(url);
        let data = await response.json();
        let teamA = []
        let teamB = []
        let teamAWinStatus = true
        if(String(data.teams[0].win) == "Fail"){
            teamAWinStatus = false
        }
        for(var i =0; i < data.participants.length; i++){    
            let participantName, participant, participantKills, participantAssists, participantDeaths, participantCreepScore, participantTripleKills, participantQuadKills, participantPentaKills, participantScore
            let player = [Number(data.gameId), String(data.participantIdentities[i].player.summonerName),
            Number(data.participants[i].stats.kills), Number(data.participants[i].stats.assists), Number(data.participants[i].stats.deaths), Number(data.participants[i].stats.totalMinionsKilled), Number(data.participants[i].stats.tripleKills), Number(data.participants[i].stats.quadraKills), Number(data.participants[i].stats.pentaKills)]
            if( i < data.participants.length / 2 ){
                teamA.push(player)
            }else{
                teamB.push(player)
            }
            theWindow = window.open( 
                "/" + player[0] + "/" + player[1] + "/" + player[2] + "/" + player[3] + "/" + player[4] + "/" + player[5] + "/" + player[6] + "/" + player[7] + "/" + player[8],
                '_blank' // <- This is what makes it open in a new window.
            );
            theWindow.close()
        }
        return data;
    }

    function timeHelper(time){
        timeSplit = time.split("-")
        newTime = timeSplit[2].substring(0, 2) + "  -  " + timeSplit[1] + "  -  " + timeSplit[0]
        console.log(newTime)
        return newTime
    }

    async function fetchAsyncEsports (url) {
        let response = await fetch(url, {
                            headers: {
                                "x-api-key": "0TvQnueqKa5mxJntVWt0w4LpLfEkrV1Ta8rQBb9Z"
                            }
                                        });
        let data = await response.json();
        console.log(data)
        let teamA = []
        let teamB = []
        let teams = []
        var location = 0        
        let someTime = new Date()
        let timeNow = new Date();
        let allGames = []
        let matchTypes = []
        let matchTimes = []
        let checkTimes = []
        let start = true
        for(var i =0; i < data.data.schedule.events.length; i++){ 
            var leagueName = data.data.schedule.events[i].league.name
            var gameID = data.data.schedule.events[i].games[0].id
            if((leagueName == "LCS Academy" || leagueName == "LCS") && gameID != location ){
                if(start){
                    if(gameID == "103462440145619631"){
                        
                    }
                    let newStartTime = new Date(data.data.schedule.events[i].startTime);
                    let timeSplit = String(data.data.schedule.events[i].startTime).split("-")
                    checkTimes.push(data.data.schedule.events[i].startTime)
                    newTime = timeSplit[2].substring(0, 2) + "-" + timeSplit[1] + "-" + timeSplit[0]
                    matchTimes.push(newTime)
                    newStartTime.setSeconds((newStartTime.getSeconds() + ((timeNow - newStartTime) / 1000)));
                    newStartTime.setSeconds(((Math.floor(newStartTime.getSeconds() / 10)) * 10) - 30);
                    location = gameID
                    teamA.push([data.data.schedule.events[i].match.teams[0].name.replace(" ", "."), String(data.data.schedule.events[i].match.teams[0].result.gameWins), gameID])
                    teamB.push([data.data.schedule.events[i].match.teams[1].name.replace(" ", "."), String(data.data.schedule.events[i].match.teams[1].result.gameWins), gameID])
                    allGames.push(memberData = await fetchAsyncEsportsMembers(esportsMemberURL + gameID + "?startingTime=" + newStartTime.toISOString(), gameID ))
                    if(leagueName == "LCS Academy"){
                        matchTypes.push(0)
                    }else{
                        matchTypes.push(1)
                    }
                }
                
            }
        }
        teams.push(teamA)
        teams.push(teamB)
        collectedGameData = [teams, allGames]
        console.log(data)
        return [teams, allGames, matchTypes, matchTimes];
    }

    async function fetchAsyncEsportsMembers (url, gameID) {
        let response = await fetch(url, {
                            headers: {
                                "x-api-key": "0TvQnueqKa5mxJntVWt0w4LpLfEkrV1Ta8rQBb9Z"
                            }
                    });
        let data = await response.json();
        
        let playerName, playerKills, playerAssists, playerCreepScore, playerTripleKills, playerQuadraKills, playerPentaKills
        
        let teamA = []
        let teamB = []
        let teamAMembers = []
        let teamBMembers = []
        let teamKills = []
        let teamAKills = 0
        let teamBKills = 0 
        for(var i = 0; i < data.gameMetadata.blueTeamMetadata.participantMetadata.length; i++){
            teamA.push(data.gameMetadata.blueTeamMetadata.participantMetadata[i].summonerName.replace(" ", "."))
            teamA.push(data.gameMetadata.blueTeamMetadata.participantMetadata[i].championId)
        }
        for(var x = 0; x < data.frames[data.frames.length - 1].blueTeam.participants.length; x++){
                playerKills = data.frames[data.frames.length - 1].blueTeam.participants[x].kills
                playerDeaths = data.frames[data.frames.length - 1].blueTeam.participants[x].deaths
                playerAssists = data.frames[data.frames.length - 1].blueTeam.participants[x].assists
                playerCreepScore = data.frames[data.frames.length - 1].blueTeam.participants[x].creepScore
                teamAKills += playerKills
                teamAMembers.push([playerKills, playerDeaths, playerAssists, playerCreepScore, gameID])
                
        }
        for(var i = 0; i < data.gameMetadata.redTeamMetadata.participantMetadata.length; i++){
            teamB.push(data.gameMetadata.redTeamMetadata.participantMetadata[i].summonerName.replace(" ", "."))
            teamB.push(data.gameMetadata.redTeamMetadata.participantMetadata[i].championId)
        }
        for(var x = 0; x < data.frames[data.frames.length - 1].redTeam.participants.length; x++){
                
                playerKills = data.frames[data.frames.length - 1].redTeam.participants[x].kills
                playerDeaths = data.frames[data.frames.length - 1].redTeam.participants[x].deaths
                playerAssists = data.frames[data.frames.length - 1].redTeam.participants[x].assists
                playerCreepScore = data.frames[data.frames.length - 1].redTeam.participants[x].creepScore
                teamBKills += playerKills
                teamBMembers.push([playerKills, playerDeaths, playerAssists, playerCreepScore, gameID])
                
        }
        
        
        var output = [teamA, teamB]
        teamAMembers.push(teamA)
        teamBMembers.push(teamB)
        teamKills = [teamAKills, teamBKills]
        var matchMembers = [teamAMembers, teamBMembers, teamKills]
        if(gameID == "103462440145619632"){
            console.log(data)
            console.log(matchMembers)
        }
        return matchMembers
    }

    function swap() {
        var x = document.getElementById("loader");
        if (x.style.display === "none") {
                x.style.display = "block";
        } else {
            x.style.display = "none";
        } 
    }

    function openModal(location){
        matchLocation = [location[0], location[1]]
        let modal = document.getElementById("myModal");
        let span = document.getElementsByClassName("close")[0];
        //modal.style.display = "block";
        console.log(location)
    }

    function closeModal(){
        let modal = document.getElementById("myModal");
        modal.style.display = "none";

    }

    function switchMatches(){
        console.log("here")
        let lcs = document.getElementById("LCS")
        let academy = document.getElementById("Academy")
        
    }

    

    function showMatches(){
        var coll = document.getElementsByClassName("collapsible");
        var i;
        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight){
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                } 
            });
        }   
    }

</script>
<div class="MainContainer" >
    <div class="Top" style="width: 100%; background-color: rgba(85, 115, 249, 1.00); margin: 0px;">
            <h1>League Of Legends Fantasy League Companion</h1>
            MatchID URL: <input style="width: 20rem;" type="text" name="matchID" id="matchID">
            <input style="display: inline;" type="submit" value="Update Database" onclick="getMatchID()">
            <input style="float: right;" type="submit" value="Swap LCS / Academy" onclick="switchMatches()">

            <br><br>

            <div style="display: none;" class="loader" id="loader">
                <h1 id="loadingString">Collecting Data</h1>
            </div>

    </div>
    <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close" onClick="closeModal()">&times;</span>
                <p>Some text in the Modal..</p>
            </div>
          
    </div>
    
    <div class="LCS" id="LCS" style="width: 90%; height: fit-content; margin: 0 auto; display: block;">
        <div class="Schedule">
            {% for schedule in sortedLCSMatches[0] %}
                <div class="collapsible">
                    
                    <h1 style="color: rgba(85, 115, 249, 1.00); font-size: 3rem; padding: 0px; font-family: 'Work Sans', sans-serif; margin: 0px;">{{schedule[0].matchTime}}</h1>
                    <h3 style="display: inline; padding-right: 2rem; color: rgba(111, 111, 111, 1.00); font-size: 1.25rem; margin: 0px;">Games Played: <p style="display: inline; color: black;"><b>{{schedule|length}}</b> </p>   </h1>
                    <h3 style="display: inline; padding-right: 2rem; color: rgba(111, 111, 111, 1.00); font-size: 1.25rem; margin: 0px;">Teams Participated: <p style="display: inline; color: black;"><b>{{schedule|length * 2}}</b></p>   </h1>
                    <h3 style="display: inline; color: rgba(111, 111, 111, 1.00); font-size: 1.25rem;">Organization: <p style="display: inline; color: black;"><b>LCS</b></p></h1>
    
                </div>
                    {% set outer_loop = loop %}
                    <div style="width: 90%; height: fit-content; margin: 0 auto;" class="content"> 
                    {% for matches in schedule %}
                         
                    <h1 style="color: cornflowerblue;">{{matches.teamA}} vs {{matches.teamB}}</h1>

                            <div class="collapsible" style="background-color: rgba(125, 125, 125, 1.00);  line-height: 1rem; border-radius: .5rem; padding-left: .5rem;" id="{{matches.gameID}}" onclick="openModal([{{outer_loop.index0}}, {{loop.index0}}, 0]) ">
                                <h3 style="display: inline; color: black;"><u><b>{{matches.teamA}}</b></u>Pts - </h3>
                                {% set count = namespace(value=0) %}
                                {% for players in sortedLCSMatches[1][outer_loop.index0][loop.index0] %}
                                    {% if loop.index0 < 5 %}
                                        {% set count.value = count.value + players.playerScore %}

                                        <span>
                                            <h4 style="display: inline; padding-left: 1rem; color: black;">{{players.playerName}}: </h4>
                                            <h4 style="display: inline; color: rgba(158, 208, 173, 1.00);"> {{players.playerScore}} </h4> 
                                        </span>
                                    {% endif %}                                
                                {% endfor %}
                                <h4 style="display: inline; padding-left: 1rem; color: black;">Total: </h4>
                                <h4 style="display: inline; color: rgba(158, 208, 173, 1.00);"> {{count.value|round(1, 'floor')}} </h4> 
                                <br>
                            </div>
    
                            <div class="content" style="width: 90%; height: 90%; margin: 0 auto;">
                                    <h1 style="color: cornflowerblue;">GameID: {{matches.gameID}}</h1>

                                    {% for players in sortedLCSMatches[1][outer_loop.index0][loop.index0] %}
                                        {% if loop.index0 < 5 %}
                                            <div>
                                                <h2 style="font-size: 1.5rem;">{{players.playerName}} - Total: {{players.playerScore}}</h4>
                                                <h4 style="display: inline;">Champion: <p style="color: rgba(158, 208, 173, 1.00); display: inline;">{{players.legend}}</p></h4>
                                                <h4 style="display: inline;">Kills: <p style="color: rgba(158, 208, 173, 1.00); display: inline;">{{players.kills}}</p></h4>
                                                <h4 style="display: inline;">Assists: <p style="color: rgba(158, 208, 173, 1.00); display: inline;">{{players.assists}}</p></h4>
                                                <h4 style="display: inline;">Deaths: <p style="color: rgba(158, 208, 173, 1.00); display: inline;">{{players.deaths}}</p></h4>
                                                <h4 style="display: inline;">CreepScore: <p style="color: rgba(158, 208, 173, 1.00); display: inline;">{{players.creepScore}}</p></h4>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                            </div>
                            <br>
                            <div class="collapsible" style="background-color: rgba(125, 125, 125, 1.00);  line-height: 1rem; border-radius: .5rem; padding-left: .5rem;" id="{{matches.gameID}}" onclick="openModal([{{outer_loop.index0}}, {{loop.index0}}, 5])">
                                <h3 style="display: inline; color: black;"><u><b>{{matches.teamB}}</b></u> Pts - </h3>
                                {% set count = namespace(value=0) %}

                                {% for players in sortedLCSMatches[1][outer_loop.index0][loop.index0] %}
                                    {% if loop.index0 > 4 %}
                                    {% set count.value = count.value + players.playerScore %}

                                        <span>
                                            <h4 style="display: inline; padding-left: 1rem; color: black;">{{players.playerName}}: </h4>
                                            <h4 style="display: inline; color: rgba(158, 208, 173, 1.00);"> {{players.playerScore}} </h4> 
                                        </span>
                                    {% endif %}   
                                {% endfor %}
                                <h4 style="display: inline; padding-left: 1rem; color: black;">Total: </h4>
                                <h4 style="display: inline; color: rgba(158, 208, 173, 1.00);"> {{count.value|round(1, 'floor')}} </h4> 
                            </div>
                            <div class="content" style="width: 90%; height: 90%; margin: 0 auto;">
                                    <h1 style="color: cornflowerblue;">GameID: {{matches.gameID}}</h1>

                                    {% for players in sortedLCSMatches[1][outer_loop.index0][loop.index0] %}
                                        {% if loop.index0 > 4 %}
                                            <div>
                                                <h2 style="font-size: 1.5rem;">{{players.playerName}} - Total: {{players.playerScore}}</h4>
                                                <h4 style="display: inline;">Champion: <p style="color: rgba(158, 208, 173, 1.00); display: inline;">{{players.legend}}</p></h4>
                                                <h4 style="display: inline;">Kills: <p style="color: rgba(158, 208, 173, 1.00); display: inline;">{{players.kills}}</p></h4>
                                                <h4 style="display: inline;">Assists: <p style="color: rgba(158, 208, 173, 1.00); display: inline;">{{players.assists}}</p></h4>
                                                <h4 style="display: inline;">Deaths: <p style="color: rgba(158, 208, 173, 1.00); display: inline;">{{players.deaths}}</p></h4>
                                                <h4 style="display: inline;">CreepScore: <p style="color: rgba(158, 208, 173, 1.00); display: inline;">{{players.creepScore}}</p></h4>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                            </div>
                            <br>
                            <hr> 
                    {% endfor %}
                    <br><br><br><br><br><br><br><br><br><br><br><br><br>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br>
                </div>
                <br><br>
            {% endfor %}
        </div>
        <br><br><br><br>
        <div class="Academy" id="Academy" style="width: 100%; height: fit-content; margin: 0 auto; display: block;">
                <div class="Schedule">
                    {% for schedule in sortedLCSAcademyMatches[0] %}
                        <div class="collapsible">
                            
                            <h1 style="color: rgba(85, 115, 249, 1.00); font-size: 3rem; padding: 0px; font-family: 'Work Sans', sans-serif; margin: 0px;">{{schedule[0].matchTime}}</h1>
                            <h3 style="display: inline; padding-right: 2rem; color: rgba(111, 111, 111, 1.00); font-size: 1.25rem; margin: 0px;">Games Played: <p style="display: inline; color: black;"><b>{{schedule|length}}</b> </p>   </h1>
                            <h3 style="display: inline; padding-right: 2rem; color: rgba(111, 111, 111, 1.00); font-size: 1.25rem; margin: 0px;">Teams Participated: <p style="display: inline; color: black;"><b>{{schedule|length * 2}}</b></p>   </h1>
                            <h3 style="display: inline; color: rgba(111, 111, 111, 1.00); font-size: 1.25rem;">Organization: <p style="display: inline; color: black;"><b>LCS Academy</b></p></h1>
            
                        </div>
                            {% set outer_loop = loop %}
                            <div style="width: 90%; height: fit-content; margin: 0 auto;" class="content"> 
                            {% for matches in schedule %}
                                 
                            <h1 style="color: cornflowerblue;">{{matches.teamA}} vs {{matches.teamB}}</h1>
        
                                    <div class="collapsible" style="background-color: rgba(125, 125, 125, 1.00);  line-height: 1rem; border-radius: .5rem; padding-left: .5rem;" id="{{matches.gameID}}" onclick="openModal([{{outer_loop.index0}}, {{loop.index0}}, 0]) ">
                                        <h3 style="display: inline; color: black;"><u><b>{{matches.teamA}}</b></u>Pts - </h3>
                                        {% set count = namespace(value=0) %}

                                        {% for players in sortedLCSAcademyMatches[1][outer_loop.index0][loop.index0] %}
                                            {% if loop.index0 < 5 %}
                                            {% set count.value = count.value + players.playerScore %}

                                                <span>
                                                    <h4 style="display: inline; padding-left: 1rem; color: black;">{{players.playerName}}: </h4>
                                                    <h4 style="display: inline; color: rgba(158, 208, 173, 1.00);"> {{players.playerScore}} </h4> 
                                                </span>
                                            {% endif %}                                
                                        {% endfor %}
                                        <h4 style="display: inline; padding-left: 1rem; color: black;">Total: </h4>
                                <h4 style="display: inline; color: rgba(158, 208, 173, 1.00);"> {{count.value|round(1, 'floor')}} </h4>
                                        <br>
                                    </div>
            
                                    <div class="content" style="width: 90%; height: 90%; margin: 0 auto;">
                                            <h1 style="color: cornflowerblue;">GameID: {{matches.gameID}}</h1>

                                            {% for players in sortedLCSAcademyMatches[1][outer_loop.index0][loop.index0] %}
                                                {% if loop.index0 < 5 %}
                                                    <div>
                                                        <h2 style="font-size: 1.5rem;">{{players.playerName}} - Total: {{players.playerScore}}</h4>
                                                        <h4 style="display: inline;">Champion: <p style="color: rgba(158, 208, 173, 1.00); display: inline;">{{players.legend}}</p></h4>
                                                        <h4 style="display: inline;">Kills: <p style="color: rgba(158, 208, 173, 1.00); display: inline;">{{players.kills}}</p></h4>
                                                        <h4 style="display: inline;">Assists: <p style="color: rgba(158, 208, 173, 1.00); display: inline;">{{players.assists}}</p></h4>
                                                        <h4 style="display: inline;">Deaths: <p style="color: rgba(158, 208, 173, 1.00); display: inline;">{{players.deaths}}</p></h4>
                                                        <h4 style="display: inline;">CreepScore: <p style="color: rgba(158, 208, 173, 1.00); display: inline;">{{players.creepScore}}</p></h4>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                    </div>
                                    <br>
                                    <div class="collapsible" style="background-color: rgba(125, 125, 125, 1.00);  line-height: 1rem; border-radius: .5rem; padding-left: .5rem;" id="{{matches.gameID}}" onclick="openModal([{{outer_loop.index0}}, {{loop.index0}}, 5])">
                                        <h3 style="display: inline; color: black;"><u><b>{{matches.teamB}}</b></u> Pts - </h3>
                                        {% set count = namespace(value=0) %}

                                        {% for players in sortedLCSAcademyMatches[1][outer_loop.index0][loop.index0] %}
                                            
                                            {% if loop.index0 > 4 %}
                                            {% set count.value = count.value + players.playerScore %}

                                                <span>
                                                    <h4 style="display: inline; padding-left: 1rem; color: black;">{{players.playerName}}: </h4>
                                                    <h4 style="display: inline; color: rgba(158, 208, 173, 1.00);"> {{players.playerScore}} </h4> 
                                                </span>
                                            {% endif %}   
                                        {% endfor %}
                                        <h4 style="display: inline; padding-left: 1rem; color: black;">Total: </h4>
                                        <h4 style="display: inline; color: rgba(158, 208, 173, 1.00);"> {{count.value|round(1, 'floor')}} </h4>
                                    </div>
                                    <div class="content" style="width: 90%; height: 90%; margin: 0 auto;">
                                            <h1 style="color: cornflowerblue;">GameID: {{matches.gameID}}</h1>

                                            {% for players in sortedLCSAcademyMatches[1][outer_loop.index0][loop.index0] %}
                                                {% if loop.index0 > 4 %}
                                                    <div>
                                                        <h2 style="font-size: 1.5rem;">{{players.playerName}} - Total: {{players.playerScore}}</h4>
                                                        <h4 style="display: inline;">Champion: <p style="color: rgba(158, 208, 173, 1.00); display: inline;">{{players.legend}}</p></h4>
                                                        <h4 style="display: inline;">Kills: <p style="color: rgba(158, 208, 173, 1.00); display: inline;">{{players.kills}}</p></h4>
                                                        <h4 style="display: inline;">Assists: <p style="color: rgba(158, 208, 173, 1.00); display: inline;">{{players.assists}}</p></h4>
                                                        <h4 style="display: inline;">Deaths: <p style="color: rgba(158, 208, 173, 1.00); display: inline;">{{players.deaths}}</p></h4>
                                                        <h4 style="display: inline;">CreepScore: <p style="color: rgba(158, 208, 173, 1.00); display: inline;">{{players.creepScore}}</p></h4>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                    </div>
                                    <br>
                                    <hr> 
                            {% endfor %}
                            <br><br><br><br><br><br><br><br><br><br><br><br><br>
                            <br><br><br><br><br><br><br><br><br><br><br><br><br>
                        </div>
                        <br><br>
                    {% endfor %}

            </div>  
            
        </div>  
    </div>   
    
</div>

{% endblock %}

